.token {
    background: url('../images/doomToken.png');
    background-position: -0px -0px;
    display: inline-block;
    width: 40px;
    height: 41px
}
.filled {
    background-position: -0px -51px !important;
}
